Новые внешние интеграции позволяют управлять доступом к внутренним территориям жилых комплексов,
поэтому критичность доступа в мобильное приложение повышается.
Рекомендуется использовать многофакторную аутентификацию для доступа в него.

К используемым внешним api предъявляются следующие требования:
- желательно использовать сложные id, плохо поддающиеся подбору, например UUID;
- система информационных сообщений не должна раскрывать информацию о существующих пользователях;
- для настроек cookie использовать флаги HttpOnly и Secure для минимизации возможности перехвата;
- все взаимодействие осуществлять по защищенным каналам, таким как https;
- аутентификацию при обращении одного приложения к другому производить с помощью протоколов
OAuth 2.0 и OIDC;
- использовать авторизацию по id пользователя при выполнении действий на стороне внешней системы,
пользователь должен иметь доступ к управлению только своими ресурсам (домофон, шлагбаум);
